* {
  margin: 0%;
  padding: 0%;
}
/*********** add collection *************/
body {
  background-color: darkmagenta;
  font-family: "Fragment Mono", monospace;
}
.add-collection {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.collection-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  width: 300px;
  border-radius: 20px;
}
.collection-form input {
  text-align: center;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  margin: 20px;
  border: none;
}
.form-title {
  padding: 40px;
}
.back {
  width: 150px;
  cursor: pointer;
  background-color: rgb(219, 71, 71);
  border: none;
  padding: 5px;
  border-radius: 15px;
}
.back:hover {
  background-color: black;
  color: aliceblue;
  transition: ease-in 0.25s;
}
.submit {
  cursor: pointer;
  background-color: rgb(18, 200, 18);
}
.submit:hover {
  background-color: black;
  color: aliceblue;
  transition: ease-in 0.25s;
}
input[type="file"] {
  display: none;
}
.img-upload {
  background-color: #fff;
  display: block;
  cursor: pointer;

  border-radius: 15px;
  width: 200px;
  height: 25px;
}

textarea {
  border-radius: 15px;
  width: 200px;
  resize: none;
}
